<h1 class="quiz-title" data-quiz-id=<%= @quiz.id %>>Editing <%= @quiz.name %></h1>
<% if @quiz.questions.empty? == false %>
  <%= @quiz.questions.each do |question| %>
    <p>You have a question</p>
  <% end %>
<% else %>
  <p>Seems you haven't added questions to this quiz yet.</p>
  <p>Use the radio buttons to select the correct answer choice for the question.</p>
<% end %>

<button type="button" class="btn btn-lg btn-success add-question">Add Question</button>

<button type="button" class="btn btn-lg btn-danger submit-quiz-changes">Submit Changes</button>


<!-- hidden templating for questions and choices -->
<div class="panel panel-default hidden question-template" data-question-num="0">
  <div class="panel-heading">
    <h3 class="panel-title">Editing A Question</h3>
  </div>
  <div class="panel-body">
    <textarea rows="8" cols="120">Enter Question Text Here</textarea>
    <button type="button" class="btn btn-success add-choice">Add Choice</button>
  </div>
</div>

<input class="choice-template hidden" type="text" value="Enter Choice Text Here">
<input type="radio" class="choice-radio-template hidden" name="0" value="0">


