<a href=<%= edit_quiz_path(@quiz) %>>
  <button type="button" class="btn btn-lg btn-warning">Enter Edit Mode</button>
</a>
<h1><%= @quiz.name %></h1>



<% @quiz.questions.each do |question| %>
  <div class="panel panel-default question-list">
    <div class="panel-heading">
      <h3 class="panel-title"><%= question.text %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% question.choices.each do |choice| %>
          <li class="list-group-item"><%= choice.text %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>