<div class="container">
  <h2>Hello <%= @user.username %>!</h2>
</div>

<div class="row">
  <div class="user-actions">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Would you like to:</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "Create a New Quiz", new_quiz_path %></li>
          <li class="list-group-item"><%= link_to "View Quizzes I've Created", my_quizzes_path %></li>
          <li class="list-group-item"><%= link_to "Take a Quiz", quizzes_path %></li> 
        </ul>
      </div>
    </div>
  </div>
</div>