<h1>Welcome to the home page.</h1>

<p>The site is currently under construction.</p>

<p>Pardon our dust.</p>

<% if current_user %>
  <p>Seems that you are logged in</p>
  <%= link_to "Log out", logout_path %>
<% else %>
  <p>You are currently not logged in</p>
  <%= link_to "Log in", login_path %>
<% end %>