body {
  text-align: center;
  padding-top: 70px;
}

.row {
  text-align: center;
}

.examination-choice:hover {
  background-color: rgba(27, 195, 248, 0.41);
  cursor: pointer;
}

.user-actions {
  margin: auto;
  width: 80%;
  height: 80%;
}

.examination-link > a {
  color: red;
}

.add-question {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  resize: none;
}

.choice {
  display: block;
  width: 97%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 3%;
}

.add-choice {
  display: block;
  margin: auto;
}

.submit-quiz-changes {
  display: block;
  margin: auto;
}

.choice-radio {
  display: inline;
  float: left;
  vertical-align: sub;
  height: 44px;
  padding: 0;
  margin: 0;
}

.answer {
  background-color: rgba(20, 241, 20, 0.41);
}

.delete-quiz {
  margin: 8px;
}

@media all and (max-width : 768px) {
  body {
    padding-top: 160px;
  }

  .nav a {
    border-top: 1px solid silver;
  }
}