body {
  text-align: center;
  padding-top: 70px;
}

.row {
  text-align: center;
}

.user-actions {
  margin: auto;
  width: 400px;
}

.list-group-item:hover {
  background-color: rgba(196, 200, 255, 0.3);
  border-style: outset;
}

@media all and (max-width : 768px) {
  body {
    padding-top: 160px;
  }

  .nav a {
    border-top: 1px solid silver;
  }
}